

<div  *ngIf="rows">
  <table style="width: 70vw; " border="2">
    <thead>

      <tr >
        <th><input type="checkbox" (change)="CheckAll($event)" [checked]="Allchecked" ></th>
        <th *ngFor="let head of columns;">{{head}}
          <div *ngIf="options.SortableColumns.includes(head)" style="transform: translateX(-10%); width: fit-content; margin: auto;">
            <button (click)="SortByColumn(head , 'desc')" class="desc" >></button>
            <button (click)="SortByColumn(head , 'asc')" class="asc" >></button>
          </div>

        </th>
      </tr>
    </thead>

    <tbody>

        <tr *ngFor="let record of ProjectedData;let i = index">
          <td><span> <input type="checkbox" (change)="CheckOne($event,i)" [checked]="record.checked" /> </span></td>
          <td *ngFor="let column of columns" >
            {{record[column]}}
          </td>
        </tr>

    </tbody>
  </table>

  <div style="display: flex; justify-content: center; gap: 2rem;">
    <button [disabled]="prev" (click)="PrevPage()">Previous</button>
    <p >{{PageNum}}</p>
    <button [disabled]="next" (click)="NextPage()">Next</button>

  </div>

</div>


