

<div  *ngIf="rows">
  <table style="width: 70vw; " border="2">
    <thead>

      <tr >
        <th><input type="checkbox" (change)="CheckAll($event)" [checked]="Allchecked" ></th>
        <th  *ngFor="let head of columns;"  [appSort]="head" (SortData)="SortByColumn(head,false)" >{{head.key}}
          <span *ngIf="head.isSortable" >{{head.Default_Sorted}}</span>
          <!-- <div *ngIf="head.isSortable" style="transform: translateX(-10%); width: fit-content; margin: auto;">
            <button *ngIf="head.Default_Sorted == 'desc'" (click)="SortByColumn(head , false)" class="desc" >></button>
            <button *ngIf="head.Default_Sorted == 'asc'" (click)="SortByColumn(head , false)" class="asc" >></button>
          </div> -->

        </th>
      </tr>
    </thead>

    <tbody>

        <tr *ngFor="let record of ProjectedData;let i = index">
          <td style="width: 2%;" ><span> <input type="checkbox" (change)="CheckOne($event,i)" [checked]="record.checked" /> </span></td>
          <td [ngStyle]="{'width' : column.perfered_width + '%'}" *ngFor="let column of columns" >
            {{ record[column.key] | customPipe:column.type  }}
          </td>
        </tr>

    </tbody>
  </table>

  <div style="display: flex; justify-content: center; gap: 2rem;">
    <button [disabled]="prev" (click)="PrevPage()">Previous</button>
    <p >{{PageNum}}</p>
    <button [disabled]="next" (click)="NextPage()">Next</button>

  </div>

</div>


