

<div  *ngIf="rows">
  <table style="width: 70vw; " border="2">
    <thead>

      <tr >
        <th><input type="checkbox" (change)="CheckAll($event)" [checked]="Allchecked"  ></th>
        <th  *ngFor="let head of columns;"

        [appSort]="[rows,head]"
        (SortData)="SortByColumn($event)" >{{head.key | transaltePipe:options.perfered_language }}
          <span [ngClass]="head.Default_Sorted == 'asc' ? 'asc' : 'desc'" *ngIf="head.isSortable" >{{head.Default_Sorted == 'asc' ? '>' : '<'}}</span>
        </th>
      </tr>
    </thead>

    <tbody>

        <tr *ngFor="let record of ProjectedData;let i = index">
          <td style="width: 2%;" ><span> <input type="checkbox" (change)="CheckOne($event,i)" [checked]="ifChecked(record)" /> </span></td>
          <td [ngStyle]="{'width' : column.perfered_width + '%'}" *ngFor="let column of columns" >
            {{ record[column.key] | customPipe:column  }}
          </td>
        </tr>

    </tbody>
  </table>

  <div style="display: flex; justify-content: center; gap: 2rem;">
    <button [disabled]="prev" (click)="PrevPage()">Previous</button>
    <p >{{PageNum}}</p>
    <button [disabled]="next" (click)="NextPage()">Next</button>

  </div>

</div>


